<div id="perfil__container" class="outer__container flex">
    <div class="user__img__container">
        <div class="user__img">
            <img src="{{user.img}}">
        </div>
        <div class="user__favlist flex">
            <a href="../../favlist/favorites/{{user._id}}">
                <img src="../../images/fav.png" alt="">
            </a>
            <a href="../../favlist/watchlist/{{user._id}}">
                <img src="../../images/eye.png" alt="">
            </a>
        </div>
    </div>
    <div class="user__main__info flex__column">
        <div class="user__name">
            <h2>{{user.username}}</h2>
        </div>
        <div class="user__name">
            <p>{{namereal}}</p>
        </div>
        <div class="user__info">
            <p>{{user.fan}} fan</p>
        </div>
    </div>
<h2><a href="../../auth/editperfil/{{user.id}}">Edit Perfil</a></h2>
</div>
