<div class="nvh">
<p>{{user.username}}</p>
<p>{{user.namereal}}</p>
<p>{{user.pais}}</p>
<p>{{data.date}}</p>
<img src="{{user.img}}">
<a href="../../favlist/favorites/{{user._id}}">favorites</a>
<a href="../../favlist/watchlist/{{user._id}}">watchlist</a>
</div>
