<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  {{!--
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.min.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker-standalone.css">
  <script type="text/javascript" src="js/bootstrap-datetimepicker.min.js"></script> --}}
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  {{#if user}}
  <div class="nav__bar__container">
    <div class="nav__bar">
      <div class="nav__bar__inner flex twenty">
       <a href="/"><img src="/images/cinemalog.png" alt=""></a> 
      </div>
      <div class="nav__bar__iner flex sixty">
        <li>
          <a href="/movies/rated">Best Rated</a>
        </li>
        <li>
          <a href="/movies/popular">Most Popular</a>
        </li>
        <li>
          <a href="/movies/playing">Now Playing</a>
        </li>
        <li>
           <div class="dropdown">
              <button class="dropbtn">
                <a href="#">Genres</a>
              </button>
              <div class="dropdown-content">
                <a href="/movies/action">Action</a>
                <a href="/movies/adventures">Adventures</a>
                <a href="/movies/animation">Animation</a>
                <a href="/movies/comedy">Comedy</a>
                <a href="/movies/drama">Drama</a>
                <a href="/movies/horror">Horror</a>
                <a href="/movies/scifi">Sci-Fi</a>
                <a href="/movies/thriller">Thriller</a>
              </div>
            </div>
        </li>
      </div>
      <div class="nav__bar__inner flex twenty">

        <ul class="flex">
          <li>
            <div class="dropdown">
              <button class="dropbtn">
                <a>{{user.username}}</a>
              </button>
              <div class="dropdown-content">
                <a href="/auth/perfil/{{user._id}}">Perfil</a>
                <a href="/favlist/favorites/{{user._id}}">favorites</a>
                <a href="/favlist/watchlist/{{user._id}}">watchlist</a>
                <a href="/auth/logout">Log Out</a>
              </div>
            </div>
          </li>
          <li>
              <img src="{{user.img}}" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {{else}}
  <div class="nav__bar__container">
    <div class="nav__bar">
      <div class="nav__bar__inner flex twenty">
        <img src="/images/cinemalog.png" alt="">

      </div>
      <div class="nav__bar__inner flex twenty">
        <ul>
          <li>
            <a href="/auth/login">Login</a>
          </li>
          <li>
            <a href="/auth/signup">Signup</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {{/if}} 
  {{{body}}} 
  <script   src="http://code.jquery.com/jquery-3.3.1.js"integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="crossorigin="anonymous"></script>
  {{!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> --}}
  <script src='/javascripts/script.js' />
</body>

</html>
