<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  {{!--
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.min.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker-standalone.css">
  <script type="text/javascript" src="js/bootstrap-datetimepicker.min.js"></script> --}}
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  {{#if user}}
  <div class="nav__bar__container">
    <div class="nav__bar">
      <div class="nav__bar__inner flex twenty">
        <img src="../images/cinemalog.png" alt="">
      </div>
      <div class="nav__bar__iner flex sixty">
        <li>
          <a href="/movies/rated">Best Rated</a>
        </li>
        <li>
          <a href="/movies/popular">Most Popular</a>
        </li>
        <li>
          <a href="/movies/playing">Now Playing</a>
        </li>
        <li>
          <a href="/movies/horror">Genre</a>
        </li>
      </div>
      <div class="nav__bar__inner flex twenty">

        <ul>
          <li>
            <a href="/auth/perfil/{{user._id}}">{{user.username}}</a>
          </li>
          <li>
            <a href="/auth/perfil/{{user._id}}"><img src="{{user.img}}" alt=""></a>
          </li>
          <li>
            <a href="/auth/logout">Log Out</a>
          </li>
        </ul>

      </div>
    </div>
  </div>



  {{else}}

  <div class="nav__bar__container">
    <div class="nav__bar" style="border-bottom: 1px solid rgba(255,255,255,0.5)">
      <div class="nav__bar__inner flex twenty">
        <img src="../images/cinemalog.png" alt="">
        
      </div>
      <div class="nav__bar__inner flex twenty">
        <ul>
          <li>
            <a href="/auth/login">Login</a>
          </li>
          <li>
            <a href="/auth/signup">Signup</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {{/if}}  {{{body}}} 
 
  <script   src="http://code.jquery.com/jquery-3.3.1.js"   integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="   crossorigin="anonymous"></script>
  {{!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> --}}
  <script src='/javascripts/script.js' />
</body>

</html>
